
html{font-size:100%;}

/* color:2a2a2a;*/
body{font-size:0.8rem;text-align:justify;line-height:1.6em;background:#a9cce7;
background-image: linear-gradient(top, rgba(125,180,221,255) 0%, rgba(168,204,231,255) 50%, rgba(211,229,241,255) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(125,180,221,255)), color-stop(0.5, rgba(168,204,231,255)), color-stop(1, rgba(211,229,241,255)));
background-image: -moz-linear-gradient(top, rgba(125,180,221,255) 0%, rgba(168,204,231,255) 50%, rgba(211,229,241,255) 100%);
background-image: -o-linear-gradient(top, rgba(125,180,221,255) 0%, rgba(168,204,231,255) 50%, rgba(211,229,241,255) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db4dd', endColorstr='#a8cce7'endColorstr='#d3e5f1');
font-family:'Arial';background-repeat: no-repeat;background-attachment: fixed;color:#2a2a2a;}

a{color:#2a2a2a;text-decoration:none;}

a:hover{text-decoration:underline;}

.div_home{width:100%;height:100%;}

.div_home {display:table;}

.div_home {display:table-cell;vertical-align:middle;}

.push_right{float:right;right:-80px;top:0px;position:absolute;}

.top_header{background:rgba(255,255,255,0.3);height:2.5em;padding:0.5em 0;}

h1.site_title{color:#fff;font-size:3rem;font-family: 'Fascinate', cursive;margin-top:5em;}

h6.site_caption{color:#fff;font-size:1rem;font-family: 'Molle', cursive;font-weight:normal;margin-left:0.8em;letter-spacing:0.12em;}

#homeimage{background:url(../icons/home_bg.png);width:400px;height:518px;margin-top:5em;}

.site_name{background:url(../icons/sitename.png);width:350px;height:88px;margin-top:7em;margin-left:4em;}

#main_form_container{margin-top:13em;}

.terms_policy a{color:#fff;margin:0 1em;}

.footer{margin-top:1em;padding:0.5em 0;}


.footer_index_container{margin:100px 0 0 90px;}

.footer_index a#aboutus {float:left;clear:left;display:block;}

.footer_index a#creation {float:left;display:block;margin-left:1em;}

.login_form{border-radius: 4px;box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 12px rgba(255,255,255,0.4);padding: 15px;background: #fffaf6;margin:8em 2em ;}

.login_form input[type=text], .login_form input[type=password] {
font-family: 'Lato', Calibri, Arial, sans-serif;font-size: 1rem;font-weight: 400;display: block;width: 93%;padding: 0.6em;margin-bottom: 0.6em;border: 3px solid #ebe6e2;border-radius: 5px;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-ms-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}

li.forgot_pass{margin-top:10px;}

textarea {font-family: 'Lato', Calibri, Arial, sans-serif;font-size: 1rem;font-weight: 400;display: block;width: 94%;height:110px;resize:none;padding: 0.6em;border: 3px solid #ebe6e2;border-radius: 5px;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-ms-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}

.container{margin: 1em 0;background: #fff;padding: 4px;border: 1px solid #f2f2f1;box-shadow: 2px 2px 10px #333;min-height:480px}

#aboutme input[type="submit"]{float:right;clear:right;margin-top:-28px;margin-right:12px;}

#left img{padding:5px;border:1px solid #bbb;border-radius:10px;margin-top:20px;}

#spaceleft{margin-top:1.5em;background:#fff;color:#000;text-align:center;}

/* search */
#search input[type="text"] {background: url(../icons/search-white.png) no-repeat 10px 6px #444;border: 0 none;font: bold 12px Arial,Helvetica,Sans-serif;color: #d7d7d7;width:60px;padding: 6px 15px 6px 35px;-webkit-border-radius: 20px;-moz-border-radius: 20px;
border-radius: 20px;text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;-webkit-transition: all 0.7s ease 0s;-moz-transition: all 0.7s ease 0s;-o-transition: all 0.7s ease 0s;transition: all 0.7s ease 0s;}

#search input[type="text"]:focus {background: url(../icons/search-dark.png) no-repeat 10px 6px #fcfcfc;color: #6a6f75;width: 160px;-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);}


/* search */

#middle ,#attachment{color:#000}

#middle li{border-bottom:1px dashed #ddd;}

.attachment_form{border-top:1px dashed #b16100;margin:1em 0; }

.attachment_form  input[type="file"]{margin:1em 0; }

#attachment{width:690px;padding:1em;margin-left:100px;margin-top:2em;display: inline-block}

#comments {width:600px;padding:1em;margin-left:60px;}

#attachment  input[type="submit"]{float:right;clear:right;margin:1em 0;}

#comments textarea {margin-top:1em;font-family: 'Lato', Calibri, Arial, sans-serif;font-size: 1rem;font-weight: 400;display: block;width: 100%;height:60px;resize:none;padding: 0.6em;border: 3px solid #ebe6e2;border-radius: 5px;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-ms-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}

#comments input[type=submit]{float:right;clear:right;margin-top:-2.4em;}



#comments ul{margin:2em 0 1em 0;}

#comments li{border-bottom:1px dashed #ddd;}

#chatwindow{color:#000;border:2em inset #a9cce7;max-height:26em;overflow-y:auto;}

#chatwindow ul{margin:1em;}

/* #chatwindow li{border-bottom:1px dashed #ddd;} */

#chatwindow  img{margin:6px 0;}

#chatwindow p{display:inline-block;padding-left:1em;}

#aboutme {color:#000; width:500px;height:100px;border:1em solid #ddd;overflow-y:auto;}

#aboutme p{display:inline-block;padding-left:1em;width:400px;}


#related {color:#000; position:relative;left:140px;word-wrap: break-word; width: 220px}


#related ul{margin:1em;}

#related li{border-bottom:1px dashed #ddd;}

#related  img{margin:6px 0;}

#list_members { margin: 1em; }
#list_members li { border-bottom:1px dashed #ddd; }

/*
#related p{display:inline-block;padding-left:1em;margin-left:30px;margin-top:-45px;font-size:14px;display:block;}
*/


/*
#related li:last-child{border-bottom:none;float:right;clear:right;}
*/
.form_chatwindow   input[type="text"]{font-family: 'Lato', Calibri, Arial, sans-serif;font-size: 1rem;font-weight: 400;display: block;width: 80%;padding: 0.6em;margin-bottom: 0.6em;border: 3px solid #ebe6e2;border-radius: 5px;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-ms-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;display:inline-block;}

/* button ---------------------------------------------- */

.button {display: inline-block;zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */*display: inline;vertical-align: baseline;margin: 0 2px;outline: none;cursor: pointer;text-align: center;text-decoration: none;font: 14px/100% Arial, Helvetica, sans-serif;padding: .5em 2em .55em;text-shadow: 0 1px 1px rgba(0,0,0,.3);-webkit-border-radius: .5em;-moz-border-radius: .5em;border-radius: .5em;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);box-shadow: 0 1px 2px rgba(0,0,0,.2);}

.button:hover {text-decoration: none;}

.button:active {position: relative;top: 1px;}

.bigrounded {-webkit-border-radius: 2em;-moz-border-radius: 2em;border-radius: 2em;}

.medium {font-size: 12px;padding: .4em 1.5em .42em;}

.small {font-size: 11px;padding: .2em 1em .275em;}

.tiny {font-size: 9px;padding: .5em .5em .5em;}

.big {font-size: 30px;padding: .5em 2em .6em;}

/* white */
.white {color: #606060;border: solid 1px #b7b7b7;background: #fff;background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));background: -moz-linear-gradient(top,  #fff,  #ededed);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');}

.white:hover {background: #ededed;background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));background: 
-moz-linear-gradient(top,  #fff,  #dcdcdc);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');}

.white:active {color: #999;background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));background: -moz-linear-gradient(top,  #ededed,  #fff);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');}

/* gray */
.gray {color: #e9e9e9;border: solid 1px #555;background: #6e6e6e;background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));background: -moz-linear-gradient(top,  #888,  #575757);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');}

.gray:hover {background: #616161;background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));background: -moz-linear-gradient(top,  #757575,  #4b4b4b);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');}

.gray:active {color: #afafaf;background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));background: -moz-linear-gradient(top,  #575757,  #888);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');}

/* red */
.red {color: #faddde;border: solid 1px #980c10;background: #d81b21;background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');}

.red:hover {background: #b61318;background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));background: -moz-linear-gradient(top,  #c9151b,  #a11115);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');}

.red:active {color: #de898c;background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');}

/* green */
.green {color: #e8f0de;border: solid 1px #538312;background: #64991e;background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');}

.green:hover {background: #538018;background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');}

.green:active {color: #a9c08c;background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');}

/* blue */
.blue {color: #d9eef7;	border: solid 1px #0076a3;background: #0095cd;background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));background: -moz-linear-gradient(top,  #00adee,  #0078a5);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');}

.blue:hover {background: #007ead;background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));background: -moz-linear-gradient(top,  #0095cc,  #00678e);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');}

.blue:active {color: #80bed6;background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));	background: -moz-linear-gradient(top,  #0078a5,  #00adee);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');}

/* orange */
.orange {color: #fef4e9;border: solid 1px #da7c0c;background: #f78d1d;background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));background: -moz-linear-gradient(top,  #faa51a,  #f47a20);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');}

.orange:hover {background: #f47c20;background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));background: -moz-linear-gradient(top,  #f88e11,  #f06015);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');}

.orange:active {color: #fcd3a5;background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));background: -moz-linear-gradient(top,  #f47a20,  #faa51a);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');}

/* Form Elements*/

.blockli {
     
     display :block ;
     padding:4px;
     margin: 2px;    
     background:#25A6E1;
     background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
     background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
     background:-webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
     background:-o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
     background:-ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
     background:linear-gradient(top,#25A6E1 0%,#188BC0 100%);

     color: #fff;
     width: 75%;
     text-decoration: none;
     
}

.styled-button-8 {
	background:#25A6E1;
	background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background:-webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:8px 13px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:14px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9;
	
}

.commenttext  {
  left:10px; 
  margin-top:-40px;
}


.reportspam {
position:relative;
left:150px;
top:-50px;
background:#25A6E1;
background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
background:-webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
background:-o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
background:-ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
background:linear-gradient(top,#25A6E1 0%,#188BC0 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
padding:4px 9px;
color:#fff;
font-family:'Helvetica Neue',sans-serif;
font-size:10px;
border-radius:2px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border:1px solid #1A87B9;
}

.aboutfriends, .aboutfans, .commenttext, .textparagraph {
  margin-left:50px;
  margin-top:-30px;

}

.alertmsg {

background:grey;
font-size:18px;
text-align:center;
padding:20px 10px;
border-bottom:1px solid #bbb;
cursor: pointer;
overflow: hidden;
display:none;
opacity: .9;
}

.alertmsg2 {

background-color:grey;
border-bottom:1px solid #bbb;

font-size:18px;
text-align:center;
padding:20px 10px;
opacity: .9;
color:white;
}
