{% autoescape off %}


     <li id="{{ comment.commentid }}" >
     <a href="/user/{{ comment.username }}"> <img src="{{ comment.image }}" width="45" height="60"  > </img> </a>
     <a style="vertical-align:top" href="/user/{{comment.username}}"> {{ comment.username }} </a>
     <p class="commenttext"> {{ comment.text }} </p> <br/>
     {% if isowner %}
     <a class="delcomment" id="{{ comment.commentid }}" href="#"> delete </a>
     {% endif %}
     </li>
      &nbsp;

{% endautoescape %}